<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.enjoytrip.trip.dao.TripDao">

	<select id="sidoList" resultType="sidoDto">
		SELECT sido_code, sido_name
		FROM sido
	</select>
	
	<select id="tripSearchList" parameterType="tripSearchDto" resultType="tripDto">
		SELECT content_id, content_type_id, title, addr1, addr2, zipcode, tel, first_image, first_image2, readcount, sido_code, gugun_code, latitude, longitude, mlevel
		FROM attraction_info
		<if test="contentTypeId == 0">
			<if test="keyword == null">
				WHERE sido_code = #{sidoCode}
			</if>
			<if test="keyword != null">
				WHERE sido_code = #{sidoCode} AND title LIKE CONCAT('%', #{keyword}, '%')
			</if>
		</if>
		<if test="contentTypeId != 0">
			<if test="keyword == null">
				WHERE sido_code = #{sidoCode} AND content_type_id = #{contentTypeId}
			</if>
			<if test="keyword != null">
				WHERE sido_code = #{sidoCode} AND content_type_id = #{contentTypeId} AND title LIKE CONCAT('%', #{keyword}, '%')
			</if>
		</if>
	</select>
	<select id = "tripDetailSearch" parameterType="int" resultType="string">
		SELECT overview
		FROM attraction_description
		WHERE content_id = #{contentId}
	</select>
	
	 <update id="updateReadCount" parameterType="int">
			UPDATE attraction_info 
			SET readcount = readcount + 1 
			WHERE content_id = #{contentId}
		
	</update> 
	
	 <insert id="tripPlanSave" parameterType="tripPlanDto">
		INSERT INTO tripplan(user_id, plan_list)
		VALUES (#{userId}, #{planList2})
	</insert>  
	
	
	<select id="userTripPlan" parameterType="userDto" resultType="tripPlanDto">
		SELECT num, user_id, plan_list planList2
		FROM tripplan
		WHERE user_id = #{userId}
	</select>
	
	<select id="tripPlanDtoToTripDtoList" parameterType="string" resultType="tripDto">
		SELECT content_id, content_type_id, title, addr1, addr2, zipcode, tel, first_image, first_image2, readcount, sido_code, gugun_code, latitude, longitude, mlevel
		FROM attraction_info
		WHERE title= #{title}
	</select>
	
	
	<select id="rankList" resultType="tripDto">
		SELECT i.content_id, i.content_type_id, i.title, i.addr1, i.addr2, i.zipcode, i.tel, i.first_image, i.first_image2, i.readcount, i.sido_code, i.gugun_code, i.latitude, i.longitude, i.mlevel, d.overview
		FROM attraction_info i JOIN attraction_description d
		ON i.content_id = d.content_id
		WHERE i.readcount >= 1 AND i.content_type_id = 39
		AND i.first_image != ''
	</select>
	
	<delete id="tripPlanDelete" parameterType="userDto">
		DELETE
		FROM tripplan 
		WHERE user_id = #{userId}
	</delete>
	
	<select id="monthlyList" resultType="monthlyDto">
		SELECT m.idx, m.mon, m.region, m.title, m.latitude, m.longitude, MAX(d.overview) as overview, MAX(i.addr1) as addr1, MAX(i.addr2) as addr2, MAX(i.first_image) as first_image
		FROM attraction_info i 
		JOIN attraction_description d ON i.content_id = d.content_id 
		JOIN monthly m ON i.title LIKE CONCAT('%', m.title, '%') 
		WHERE i.first_image != '' AND m.mon = MONTH(CURDATE())
		AND i.content_type_id = 12
		GROUP BY m.idx, m.mon, m.region, m.title, m.latitude, m.longitude;
	</select>
	
	<select id="tripDetail" parameterType="int" resultType="tripDto">
		SELECT i.content_id, i.content_type_id, i.title, i.addr1, i.addr2, i.zipcode, i.tel, i.first_image, i.first_image2, i.readcount, i.sido_code, i.gugun_code, i.latitude, i.longitude, i.mlevel, d.overview
		FROM attraction_info i JOIN attraction_description d
		ON i.content_id = d.content_id
		WHERE i.content_id = #{contentId}
	</select>
	
	<insert id="registPlan" parameterType="planDto" useGeneratedKeys="true" keyProperty="planId">
		INSERT INTO plan (user_id, start_date, end_date, comment)
		VALUES (#{userId}, #{startDate}, #{endDate}, #{comment})
	</insert>
	
	<insert id="registPlanDetail" parameterType="map">
		INSERT INTO plan_detail (plan_id, content_id, plan_order)
		VALUES (#{planId}, #{contentId}, #{order})
	</insert>
	
	<select id="listPlan" parameterType="string" resultType="planDto">
		SELECT plan_id, user_id, start_date, end_date, comment
		FROM plan
		WHERE user_id=#{userId}
	</select>
	
	<select id="detailPlan" parameterType="int" resultType="int">
		SELECT content_id
		FROM plan_detail
		WHERE plan_id=#{planId}
		ORDER BY plan_order ASC
	</select>
	
	<delete id="deletePlan" parameterType="int">
		DELETE FROM plan
		WHERE plan_id=#{planId}
	</delete>
</mapper>